.icon-ship:before {
  content: '\e800';
}

/* '' */

.icon-shipping:before {
  content: '\e801';
}

/* '' */

.icon-shopping:before {
  content: '\e802';
}

/* '' */

.icon-tg:before {
  content: '\e803';
}

/* '' */

.icon-train:before {
  content: '\e804';
}

/* '' */

.icon-truck:before {
  content: '\e805';
}

/* '' */

.icon-wp:before {
  content: '\e806';
}

/* '' */

.icon-about:before {
  content: '\e807';
}

/* '' */

.icon-angle:before {
  content: '\e809';
}

/* '' */

.icon-arrow:before {
  content: '\e80a';
}

/* '' */

.icon-boing:before {
  content: '\e80b';
}

/* '' */

.icon-calculate:before {
  content: '\e80c';
}

/* '' */

.icon-calculator:before {
  content: '\e80d';
}

/* '' */

.icon-calendar:before {
  content: '\e80e';
}

/* '' */

.icon-check:before {
  content: '\e80f';
}

/* '' */

.icon-comission:before {
  content: '\e810';
}

/* '' */

.icon-company:before {
  content: '\e811';
}

/* '' */

.icon-contacts:before {
  content: '\e812';
}

/* '' */

.icon-customer-support:before {
  content: '\e813';
}

/* '' */

.icon-env:before {
  content: '\e814';
}

/* '' */

.icon-envelope:before {
  content: '\e815';
}

/* '' */

.icon-fast-delivery:before {
  content: '\e816';
}

/* '' */

.icon-fb:before {
  content: '\e817';
}

/* '' */

.icon-handshake:before {
  content: '\e818';
}

/* '' */

.icon-home:before {
  content: '\e819';
}

/* '' */

.icon-in:before {
  content: '\e81a';
}

/* '' */

.icon-login:before {
  content: '\e81b';
}

/* '' */

.icon-marker:before {
  content: '\e81c';
}

/* '' */

.icon-marker2:before {
  content: '\e81d';
}

/* '' */

.icon-phone:before {
  content: '\e81e';
}

/* '' */

.icon-product:before {
  content: '\e81f';
}

/* '' */

.icon-profile:before {
  content: '\e820';
}

/* '' */

.icon-quality:before {
  content: '\e821';
}

/* '' */

.icon-quality-control:before {
  content: '\e822';
}

/* '' */

.icon-serv:before {
  content: '\e823';
}

/* '' */