@font-face {
  font-family: 'icon';
  src: url('../font/icon.eot?21714256');
  src: url('../font/icon.eot?21714256#iefix') format('embedded-opentype'),
       url('../font/icon.woff2?21714256') format('woff2'),
       url('../font/icon.woff?21714256') format('woff'),
       url('../font/icon.ttf?21714256') format('truetype'),
       url('../font/icon.svg?21714256#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */

/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icon';
    src: url('../font/icon.svg?21714256#icon') format('svg');
  }
}
*/

[class^="icon-"]:before,[class*=" icon-"]:before {
  font-family: "icon";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-ship:before {
  content: '\e800';
}

/* '' */

.icon-shipping:before {
  content: '\e801';
}

/* '' */

.icon-shopping:before {
  content: '\e802';
}

/* '' */

.icon-tg:before {
  content: '\e803';
}

/* '' */

.icon-train:before {
  content: '\e804';
}

/* '' */

.icon-truck:before {
  content: '\e805';
}

/* '' */

.icon-wp:before {
  content: '\e806';
}

/* '' */

.icon-about:before {
  content: '\e807';
}

/* '' */

.icon-angle:before {
  content: '\e809';
}

/* '' */

.icon-arrow:before {
  content: '\e80a';
}

/* '' */

.icon-boing:before {
  content: '\e80b';
}

/* '' */

.icon-calculate:before {
  content: '\e80c';
}

/* '' */

.icon-calculator:before {
  content: '\e80d';
}

/* '' */

.icon-calendar:before {
  content: '\e80e';
}

/* '' */

.icon-check:before {
  content: '\e80f';
}

/* '' */

.icon-comission:before {
  content: '\e810';
}

/* '' */

.icon-company:before {
  content: '\e811';
}

/* '' */

.icon-contacts:before {
  content: '\e812';
}

/* '' */

.icon-customer-support:before {
  content: '\e813';
}

/* '' */

.icon-env:before {
  content: '\e814';
}

/* '' */

.icon-envelope:before {
  content: '\e815';
}

/* '' */

.icon-fast-delivery:before {
  content: '\e816';
}

/* '' */

.icon-fb:before {
  content: '\e817';
}

/* '' */

.icon-handshake:before {
  content: '\e818';
}

/* '' */

.icon-home:before {
  content: '\e819';
}

/* '' */

.icon-in:before {
  content: '\e81a';
}

/* '' */

.icon-login:before {
  content: '\e81b';
}

/* '' */

.icon-marker:before {
  content: '\e81c';
}

/* '' */

.icon-marker2:before {
  content: '\e81d';
}

/* '' */

.icon-phone:before {
  content: '\e81e';
}

/* '' */

.icon-product:before {
  content: '\e81f';
}

/* '' */

.icon-profile:before {
  content: '\e820';
}

/* '' */

.icon-quality:before {
  content: '\e821';
}

/* '' */

.icon-quality-control:before {
  content: '\e822';
}

/* '' */

.icon-serv:before {
  content: '\e823';
}

/* '' */